<div>
    <div class="container__title">
        Crear billetra
    </div>
    <div>
        
            <label for="">Ingresa un nombre</label>
            <input type="text">
            <button (click)="createWallet()">Crea una billetera</button>
            <button (click)="getMyWallets()">Obtener mis billeteras</button>
            <!-- <div *ngFor="let item of t">
                <h3> {{ robot.name }} </h3>
                <p> color: {{ robot.color }} </p>
                <p> age: {{ robot.age }} </p>
            </div>  -->
    </div>
</div>
